
/****************************
General
 ****************************/
 html {
     height: 100%;
 }
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: 'Merriweather', serif;
}
#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
    font-size: 1.7em;
    }

    a {
        text-decoration: none;
    }

img {
    max-width: 100%;
}
/****************************
Header
 ****************************/
 header {
     float: left;
     margin: 0 0 0 0;
     padding: 5px 0 0 0;
     width: 100%;
 }

 #logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Indie flower', cursive;
    margin: 15px 0;
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1.1em;
}

h2 {
    font-size: 2em;
    margin: 0 0 0;
    font-weight: normal;
}

h3 {
    margin: 0 0 1em 0;
}

/****************************
navigation
 ****************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/****************************
footer
 ****************************/
 .footer {
    grid-row-start: 2;
    grid-row-end: 3;
 }
footer {
    font-size: 0.7em;
    text-align: center;
    clear: both;
    color: black;
    }
#backtotop {
    position: fixed;
    display: flex;
    top: 85%;
    bottom: 5%;
    right: 5%;
    left: 90%;
    background-color: #5cdb95;
    }

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

/****************************
Portofolio
 ****************************/
#Gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#Gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #8ee4af;
    color: #bdc3c7;
}

#Gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.73em;
    color:#379683;
}

/****************************
About Page
 ****************************/
.profile-photo {
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 100%;
    }

.profile-photo {
    transition: transform .2s;   
}

.profile-photo:hover {
    transform: scale(1.61);
}

/****************************
Contact Page
 ****************************/
.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 5px;
}

.contact-info li.phone a {
    background-image: url('../phone.png');
}

.contact-info li.mail a {
    background-image: url('../mail.png');
}

.contact-info li.instagram a {
    background-image: url('../instagram-logo.png');
}

 .phone {
     transition: transform .2s;
 }

 .phone:hover {
    transform: scale(1.1);
}

.mail {
    transition: transform .2s;
}

.mail:hover {
   transform: scale(1.1);
   }

.instagram {
    transition: transform .2s;
}

.instagram:hover {
   transform: scale(1.1);
}

 /****************************
colors
 ****************************/
header {  
    background: #5cdb95;
    border-color: #53d5d9;
}

body {
    background-color: #edf5e1;
    color: #05386b;
}

h1, h2 {
    color: #05386b;
}

nav {
    background: #8ee4af;
}

nav a, nav a:visited  {
    color: #edf5e1;
}

nav a.selected, nav a:hover {
    color: #05386b;
}
a {
    color: #379683;
}
/* first page body */